body{
    background-image: url("bkgd.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 5%;
}
.container{
    height: 100%;
    margin: auto;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    color:color-mix(in srgb-linear, color percentage, color percentage)
}
.timer-display{
    border: 1px dotted darkgray;
    background-color: white;
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
button{
    padding: 5px;
    width: 10%;
}
.center{
    text-align: center;
    margin: auto;
}